@page
@model RazorFriberg.Pages.CreateCustomerModel

@{
    ViewData["Title"] = "CreateCustomer";
}

<h1>Nytt medlemsskap</h1>

<hr />
<div>
    <div class="form">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Customer.FirstName">Förnamn: </label>
                <input asp-for="Customer.FirstName" class="textbox"/>
                <span asp-validation-for="Customer.FirstName"></span>
            </div>
            <div>
                <label asp-for="Customer.LastName">Efternamn: </label>
                <input asp-for="Customer.LastName" class="textbox" />
                <span asp-validation-for="Customer.LastName"></span>
            </div>
            <div>
                <label asp-for="Customer.Email">Email: </label>
                <input asp-for="Customer.Email" class="textbox" />
                <span asp-validation-for="Customer.Email"></span>
            </div>
            <div>
                <label asp-for="Customer.Password">Lösenord: </label>
                <input asp-for="Customer.Password" class="textbox" />
                <span asp-validation-for="Customer.Password"></span>
            </div>
            <div>
                <input type="submit" value="Create" class="input-button" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
